*{
  margin:0;
  padding:0;
}
body {
  /* feel free to change height */
  height: 5000px;
  background: url(../map.jpg) fixed;
  background-size: 1680px;
  /*background-position: center;*/
  background-repeat: no-repeat;
}

#star-svg {
  position: absolute;
  /*left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  */
  /*left: 19.6%;
  top: 24%;*/
  left: 329px;
  top: 220px;
  transform: scale(0.85);
  
  
}
#star-path{
  
}
#fix{
  position:fixed;
  right:2%;
  bottom:5%;
  padding:15px;
  background:#55a8f7;
  border-radius: 15px;
  color:#FFF;
  text-decoration: none;
  
}